html {
  background-color: rgb(77, 61, 61);
}

.App {
  text-align: center;
}

.letter__placement {
  font-size: 100px;
}

.alphabet__button {
  font-size: xx-large;
  margin-right: 10px;
  margin-top: 10px;
}

.chosenLetters {
  font-size: 50px;
  color: rgb(156, 63, 63);
}
